<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main.content">
        {{>header}}
        <p>This site is created by <b> Ashutosh Kumar</b>. <br>
            It is created in <b>Nodejs</b> and uses <b> APIs </b> to get the weather data</p>
        <img src='img/Photo0001.jpg' class="portrait">
        <p>{{name}}</p>
    </div>
    {{>footer}}
</body>

</html>